<footer class="footer">
    <div class="footer-content">
        <div class="row justify-content-center m-0">
            <h2 class="title-footer">Emotion</h2>
        </div>
        <div class="row justify-content-center m-0 mt-3">
            <p class="text-center text-footer">
                <a class="nav-link" href="https://www.facebook.com/victhor.baesso" target="_blank">João Victor
                    Baesso</a>
                Todos os direitos reservados ®
            </p>
        </div>
    </div>
</footer>

